@model List<OkyanusWebUI.Service.CartItem>

<h4 style="margin-bottom:20px; margin-top:10px">Sipariş Özeti</h4>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Miktar</th>
                <th>Toplam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.TotalPrice</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Toplam Fiyat: </td>
                <td>@ViewBag.OrderTotalPrice</td>
            </tr>
        </tfoot>
    </table>
</div>
