@model List<OkyanusWebUI.Service.CartItem>

<div class="header">
    <div class="container">

        <div class="logo">
            <h1><a href="#">Okyanus Market<span>Kaliteli Ürünler, Sınırsız Seçenekler Alışverişin Adresi!</span></a></h1>
        </div>
        <div class="head-t">
            <ul class="card">
                @*<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>İstek Listesi</a></li>*@
                <li><a href="/Login/Index/"><i class="fa fa-user" aria-hidden="true"></i>Giriş</a></li>
                <li><a href="/Register/Index/"><i class="fa fa-arrow-right" aria-hidden="true"></i>Kayıt Ol</a></li>
                @*<li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Siparişler</a></li>*@
                @*<li><a href="#"><i class="fa fa-ship" aria-hidden="true"></i>Sorular</a></li>*@
            </ul>
        </div>


        <div class="nav-top">
            <nav class="navbar navbar-default">

                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav ">
                        <li class=""><a href="/Home/Index/" class="hyper "><span>Ana Sayfa</span></a></li>
                        <li><a href="/About/Index/" class="hyper "><span>Hakkımızda</span></a></li>
                        <li><a href="/Product/Index/" class="hyper"> <span>Ürünler</span></a></li>
                        <li><a href="/Contact/Index/" class="hyper"><span>İletişim</span></a></li>
                    </ul>
                </div>
            </nav>


            <div class="cart" data-toggle="modal" data-target="#my-basket-modal">
                <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge">@ViewBag.TotalItems</span></span>
            </div>

            <div class="modal fade" id="my-basket-modal" tabindex="-1" role="dialog" aria-labelledby="myBasketModalLabel">
                <div class="modal-dialog" role="document" id="basketModalContainer">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-shopping-cart"></span> Sepetim</h4>
                        </div>
                        <div class="modal-body">
                            @if (Model != null)
                            {
                                <table class="table table-hover table-responsive" id="my-cart-table">
                                    <thead>
                                        <tr>
                                            <th>Resim</th>
                                            <th>Ürün Adı</th>
                                            <th>Fiyat</th>
                                            <th>Miktar</th>
                                            <th>Toplam</th>
                                            <th>Ürünü Kaldır</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <!-- Her ürün için bir satır oluştur -->
                                            <tr data-id="1" data-price="19.99">
                                                <td class="text-center" style="width: 50px;"><img width="50px" height="50px" src="@item.ImageUrl" /></td>
                                                <td>@item.Name</td>
                                                <td>₺@item.Price</td>
                                                <td><input type="number" min="1" style="width: 70px;" class="my-product-quantity" value="@item.Quantity" onchange="updateBasketItemQuantity('@item.ProductId,@item.Quantity')" /></td>
                                                <td class="my-product-total">₺@item.TotalPrice</td>
                                                <td class="text-center" style="width: 30px;"><a href="javascript:void(0);" class="btn btn-xs btn-danger my-product-remove">X</a></td>
                                            </tr>
                                            <!-- Başka ürünler için aynı yapıyı tekrarla -->
                                        }
                                    </tbody>
                                </table>
                                <p>Total Price: @ViewBag.TotalPrice</p>
                                <p>Total Items: @ViewBag.TotalItems</p>
                            }
                            else
                            {
                                <div class="alert alert-danger alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
                                    Sepetinizde Ürün bulunmamaktadır.
                                </div>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                            <!-- Sepet içeriğinin altında belki de ödeme işlemi için bir düğme olabilir -->
                            <button type="button" class="btn btn-success" style="background-color: #029241;">Ödeme Yap</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
        </div>

    </div>
</div>
<br />