@model ResultOrderVM
@{
    ViewData["Title"] = "DetailOrder";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Sipariş Detayları</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h6>Sipariş Tarihi:</h6>
                    <p>@Model.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
                </div>
                <div class="col-md-6">
                    <h6>Toplam Fiyat:</h6>
                    <p>@Model.TotalPrice</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h6>İletişim Bilgileri:</h6>
                    <p>Adı-Soyadı: @Model.OrderFirstName @Model.OrderSurname</p>
                    <p>Email: @Model.OrderMail</p>
                    <p>Telefon: @Model.OrderPhone</p>
                </div>
                <div class="col-md-6">
                    <h6>Adres Bilgileri:</h6>
                    <p>Aparman No: @Model.OrderApartman</p>
                    <p>Daire No: @Model.OrderDaire</p>
                    <p>Kat: @Model.OrderKat</p>
                    <p>Şehir: @Model.OrderSehir</p>
                    <p>İlçe: @Model.OrderIlce</p>
                    <p>Tam Adres: @Model.OrderAdress</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h6>Açıklama:</h6>
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/Admin/Orders/OrderItems/@Model.ID" class="btn btn-primary">Siparişe Ait Ürünler</a>
        </div>
    </div>
</div>

