@model ResultAdminOrderVM
@{
    ViewData["Title"] = "DetailOrder";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
    int count = 0;
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Sipariş Detayları</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h6>Sipariş Oluşturulma Tarihi:</h6>
                    <p>@Model.createdDate.ToString("dd-MMM-yyyy HH:mm")</p>
                </div>
                <div class="col-md-6">
                    <h6>Toplam Fiyat:</h6>
                    <p>@Model.totalPrice</p>
                </div>
            </div>
            <hr>
            <div class="row">
                @*<div class="col-md-6">
                    <h6>İletişim Bilgileri:</h6>
                    <p>Adı-Soyadı: @Model.orderFirstName @Model.orderSurname</p>
                    <p>Email: @Model.orderMail</p>
                    <p>Kullanıcı Telefon: @Model.orderUserPhone</p>
                </div>*@
                <div class="col-md-6">
                    <h6>Adres Bilgileri:</h6>
                    <p>Aparman No: @Model.orderApartman</p>
                    <p>Daire No: @Model.orderDaire</p>
                    <p>Kat: @Model.orderKat</p>
                    <p>Şehir: @Model.orderSehir</p>
                    <p>İlçe: @Model.orderIlce</p>
                    <p>Tam Adres: @Model.orderAdress</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h6>Açıklama:</h6>
                    <p>@Model.description</p>
                </div>
                <div class="col-md-12">
                    <h6>Sipariş Bilgileri:</h6>
                    <p>Altarnatif Ürün: @Model.alternatifUrun</p>
                    <p>Teslimat Zamanı: @Model.teslimatSaati</p>
                    <p>Teslimat Yöntemi: @Model.teslimatYontemi</p>
                    <p>Aranacak Telefon: @Model.orderPhone</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Resim</th>
                        <th>Ürün</th>
                        <th>Marka</th>
                        <th>Fiyatı</th>
                        <th>Adet</th>
                        <th>Toplam</th>
                    </tr>
                </thead>
                @foreach (var item in Model.orderDetails)
                {
                    count++;
                    <tbody>
                        <tr>
                            <th>@count</th>
                            <td><img src="@(item.product.imageUrl ?? "/web/images/resimhazirlaniyor.png")" width="75" height="75" /></td>
                            <td>@item.product.productName</td>
                            <td>@item.product.Marka.MarkaAdı</td>
                            <td>@item.unitPrice</td>
                            <td>@item.count</td>
                            <td>@item.totalPrice</td>
                        </tr>
                    </tbody>
                }
            </table>

            @*<a href="/Admin/Orders/OrderItems/@Model.id" class="btn btn-primary">Siparişe Ait Ürünler</a>*@
            <a href="/Admin/Pdf/GenerateOrderPdf/@Model.id" class="btn btn-primary">Pdf Çıkart</a>
           
        </div>
    </div>
</div>

