@model CreateOrderVM
@inject OkyanusWebUI.Service.BasketService basketService;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-9">
            <form method="post">
                <div>
                    <h4 style="margin-bottom:20px;margin-top:20px">Sipariş Bilgileri</h4>
                    <div class="form-group">
                        <label>Adresinizi Seçin:</label>
                        <select asp-for="@Model.UserAdresID" class="form-control" asp-items="@ViewBag.SelectListItems"></select>
                        <span class="text-danger" asp-validation-for="@Model.UserAdresID"></span>
                    </div>
                    <div class="form-group">
                        <label for="Description">Sipariş Notu:</label>
                        <textarea class="form-control" placeholder="İstek Notunuzu Yazınız. İsteğe Bağlı" id="Description" asp-for="@Model.Description" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.Description"></span>
                    </div>
                    <div class="form-group">
                        <label>Telefon Numaranız:</label>
                        <input type="tel" asp-for="@Model.TelefonNo" class="form-control" placeholder="05xx-xxx-xx-xx formatında giriniz" />
                        <span class="text-danger" asp-validation-for="@Model.TelefonNo"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teslimat Yöntemi:</label>
                                <select asp-for="@Model.TeslimatYontemi" class="form-control">
                                    <option value="Adresime Gelsin">Adresime Gelsin</option>
                                    <option value="Magazadan Alacağım">Magazadan Alacağım</option>
                                </select>
                                <span class="text-danger" asp-validation-for="@Model.TeslimatYontemi"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teslimat Saati:</label>
                                <select asp-for="@Model.TeslimatSaati" class="form-control" asp-items="@ViewBag.DeliveryTimeItems"></select>
                                @*<select asp-for="@Model.TeslimatSaati" class="form-control">
                                        <option value="10:00-18:00">10:00-18:00</option>
                                    </select>*@
                                <span class="text-danger" asp-validation-for="@Model.TeslimatSaati"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Altarnatif Ürün Tercihi:</label>
                                <select asp-for="@Model.AlternatifUrun" class="form-control">
                                    <option value="Beni Arayın">Beni Arayın</option>
                                    <option value="Siz Seçin">Siz Seçin</option>
                                    <option value="İstemiyorum">İstemiyorum</option>
                                </select>
                                <span class="text-danger" asp-validation-for="@Model.AlternatifUrun"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" asp-for="@Model.HasReadAndUnderstood" class="form-check-input" style="margin-right:6px" />
                        <label><a href="/termsandconditions" target="_blank">Kullanım Şartlarını ve Koşullarını</a> Okudum, Anladım.</label>
                        <span class="text-danger" asp-validation-for="@Model.HasReadAndUnderstood"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" style="margin-bottom:30px">Siparişi Ver</button>
            </form>
        </div>

        <div class="col-md-3">
            <div id="orderSummaryComponentContainer">
                @*@await Component.InvokeAsync("_OrderSummaryPartial")*@
            </div>
            <span class="text-danger" asp-validation-for="@Model.OrderItems"></span> <br />
            <span class="text-danger" style="margin-bottom:5px;" asp-validation-for="@Model.TotalPrice"></span>
            <ul class="list-group">
                <li class="text-danger list-group-item">Sepet fiyatı altarnatif ürün ve poşet miktarlarına göre değişiklik gösterebilir!</li>
                <li class="text-danger list-group-item">Şuan sadece kapıda ödeme olarak işlem yapmaktayız. Kapıda kredi kartı veya nakit!</li>
            </ul>
        </div>
    </div>
    <!--<div>-->
        @*<div class="text-danger" asp-validation-summary="ModelOnly"></div>*@
        @*@Html.ValidationSummary(false, "Hatalar", new { @class = "text-danger" })*@
    <!--</div>-->
</div>
