@model CreateOrderVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="@Model.OrderItems" value="@Model.OrderItems" />
    <input type="hidden" asp-for="@Model.TotalPrice" value="@Model.TotalPrice" />
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-9">
                <div>
                    <h4 style="margin-bottom:20px;margin-top:20px">Adres Bilgileri</h4>
                    <div class="form-group">
                        <label for="OrderAdress">Tam Adres:</label>
                        <input type="text" class="form-control" id="OrderAdress" asp-for="@Model.OrderAdress" >
                        <span class="text-danger" asp-validation-for="@Model.OrderAdress"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="OrderApartmanNo">Apartman No:</label>
                                <input type="number" class="form-control" id="OrderApartmanNo" asp-for="@Model.OrderApartmanNo">
                                <span class="text-danger" asp-validation-for="@Model.OrderApartmanNo"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="OrderDaireNo">Daire No:</label>
                                <input type="number" class="form-control" id="OrderDaireNo" asp-for="@Model.OrderDaireNo">
                                <span class="text-danger" asp-validation-for="@Model.OrderDaireNo"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="OrderKat">Kat:</label>
                                <input type="number" class="form-control" id="OrderKat" asp-for="@Model.OrderKat">
                                <span class="text-danger" asp-validation-for="@Model.OrderKat"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OrderSehir">Şehir:</label>
                                <input type="text" class="form-control" id="OrderSehir" asp-for="@Model.OrderSehir">
                                <span class="text-danger" asp-validation-for="@Model.OrderSehir"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OrderIlce">İlçe:</label>
                                <input type="text" class="form-control" id="OrderIlce" asp-for="@Model.OrderIlce">
                                <span class="text-danger" asp-validation-for="@Model.OrderIlce"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description">Açıklama:</label>
                        <textarea class="form-control" id="Description" asp-for="@Model.Description" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.Description"></span>
                    </div>
                </div>
                <div>
                    <h4 style="margin-bottom:20px;margin-top:20px">Müşteri Bilgileri</h4>
                    <div class="form-group">
                        <label for="OrderFirstName">Ad:</label>
                        <input type="text" class="form-control" id="OrderFirstName" asp-for="@Model.OrderFirstName">
                        <span class="text-danger" asp-validation-for="@Model.OrderFirstName"></span>
                    </div>
                    <div class="form-group">
                        <label for="OrderSurname">Soyad:</label>
                        <input type="text" class="form-control" id="OrderSurname" asp-for="@Model.OrderSurname">
                        <span class="text-danger" asp-validation-for="@Model.OrderSurname"></span>
                    </div>
                    <div class="form-group">
                        <label for="OrderMail">Email Adresi:</label>
                        <input type="email" class="form-control" id="OrderMail" asp-for="@Model.OrderMail">
                        <span class="text-danger" asp-validation-for="@Model.OrderMail"></span>
                    </div>
                    <div class="form-group">
                        <label for="OrderPhone">Telefon:</label>
                        <input type="tel" class="form-control" id="OrderPhone" asp-for="@Model.OrderPhone">
                        <span class="text-danger" asp-validation-for="@Model.OrderPhone"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4 style="margin-bottom:20px; margin-top:10px">Sipariş Özeti</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ürün Adı</th>
                                <th>Fiyat</th>
                                <th>Miktar</th>
                                <th>Toplam</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderItems)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.TotalPrice</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Toplam Fiyat: </td>
                                <td>@Model.TotalPrice</td>
                            </tr>
                        </tfoot>
                    </table>
                    <span class="text-danger" asp-validation-for="@Model.OrderItems"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" style="margin-bottom:30px">Siparişi Ver</button>
    </div>
</form>
