@model OkyanusWebUI.Areas.Admin.Models.AdminOrderVM.ResultAdminOrderVM
@{
    ViewData["Title"] = "UserOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<br />
<div class="container">
    <article class="card">
        <header class="card-header"> Sipariş Durumu </header>
        <div class="card-body">
            <h4 style="font-weight:bold" id="orderStatusContainer">@Model.orderStatus</h4>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Teslimat Saati: </strong> <br>@Model.teslimatSaati </div>
                    <div class="col"> <strong>Aranacak Numara:</strong> <br><i class="fa fa-phone"></i> @Model.orderPhone </div>
                    <div class="col"> <strong>Ad-Soyad:</strong> <br> @Model.orderFirstName @Model.orderSurname </div>
                    <div class="col"> <strong>Adres:</strong> <br> @Model.orderAdress </div>
                    <div class="col"> <strong>Toplam Fiyat:</strong> <br> @Model.totalPrice </div>
                </div>
            </article>
            <div class="track">
                <div id="siparisOnaylandiContainer" class="step @(Model.orderStatus != "İptal Edildi" && Model.orderStatus != "Onay Bekliyor" ? "active" : "")"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Sipariş Onaylandı</span> </div>
                <div id="siparsinizHazirlaniyorContainer" class="step @(Model.orderStatus != "İptal Edildi" && Model.orderStatus != "Onay Bekliyor" && Model.orderStatus != "Sipariş Onaylandı" ? "active" : "")"> <span class="icon"> <i class="fa fa-list-ol"></i> </span> <span class="text">Siparişiniz Hazırlanıyor</span> </div>
                <div id="yoldaContainer" class="step  @(Model.orderStatus == "Yolda" || Model.orderStatus == "Teslim Edildi" ? "active" : "")"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Yolda </span> </div>
                <div id="teslimEdildiContainer" class="step @(Model.orderStatus == "Teslim Edildi" ? "active" : "")"> <span class="icon"> <i class="fa fa-gift"></i> </span> <span class="text">Teslim Edildi</span> </div>
            </div>

        </div>
        <br />
    </article>
    <br />
    <br />
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Resim</th>
                    <th>Ürün Adı</th>
                    <th>Ürün Miktarı</th>
                    <th>Ürün Fiyatı</th>
                    <th>Ürün Toplam</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.orderDetails)
                {
                    count++;
                    <tr>
                        <th>@count</th>
                        <td><img src="@(item.product.imageUrl ?? "/web/images/resimhazirlaniyor.png")" width="60" height="60" style="object-fit: contain" /></td>
                        <td>@item.product.productName</td>
                        <td>@item.count</td>
                        <td>@item.unitPrice</td>
                        <td>@item.totalPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <a href="/User/UserOrder/Index/" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Siparişlere Dön</a>
    <br /><br />
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript">
    'use strict';

    $(document).ready(() => {
        let siparisOnaylandiContainer = $("#siparisOnaylandiContainer");
        let siparsinizHazirlaniyorContainer = $("#siparsinizHazirlaniyorContainer");
        let siparisYoldaContainer = $("#yoldaContainer");
        let siparisTeslimEdildiContainer = $("#teslimEdildiContainer");



        let connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7080/SignalRHub").build();

        function start() {
            connection.start().then(() => {
                setInterval(() => {
                    let url = window.location.pathname;
                    let parts = url.split('/');
                    let id = parseInt(parts[parts.length - 1]);
                    connection.invoke("GetUserOrder", id);
                }, 3000)
            }).catch((err) => {
                setTimeout(() => start(), 5000); // 5 saniye sonra yeniden bağlanmayı dene
            });
        }

        connection.onclose(() => start());

        start();


        connection.on("ReceiveUserOrderStatus", (value) => {
            $("#orderStatusContainer").empty();
            $("#orderStatusContainer").append(value);
            if (value == "Sipariş Onaylandı") {
                siparisOnaylandiContainer.addClass("active")
                siparsinizHazirlaniyorContainer.removeClass("active")
                siparisYoldaContainer.removeClass("active")
                siparisTeslimEdildiContainer.removeClass("active")
            } else if (value == "Hazırlanıyor") {
                siparisOnaylandiContainer.addClass("active")
                siparsinizHazirlaniyorContainer.addClass("active")
                siparisYoldaContainer.removeClass("active")
                siparisTeslimEdildiContainer.removeClass("active")
            } else if (value == "Yolda") {
                siparisOnaylandiContainer.addClass("active")
                siparsinizHazirlaniyorContainer.addClass("active")
                siparisYoldaContainer.addClass("active")
                siparisTeslimEdildiContainer.removeClass("active")
            } else if (value == "Teslim Edildi") {
                siparisOnaylandiContainer.addClass("active")
                siparsinizHazirlaniyorContainer.addClass("active")
                siparisYoldaContainer.addClass("active")
                siparisTeslimEdildiContainer.addClass("active")
            } else {
                siparisOnaylandiContainer.removeClass("active")
                siparsinizHazirlaniyorContainer.removeClass("active")
                siparisYoldaContainer.removeClass("active")
                siparisTeslimEdildiContainer.removeClass("active")
            }
        });

    });
</script>
