@model List<ResultProductVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
    int count = 0;
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Ürünler Sayfası</h1>
<p class="mb-4">
    Ürünler ile ilgili işlemlerinizi ürünler tablosundan yönetebilirsiniz
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">


        <div class="input-group input-group-sm w-25">
            <form class="input-group input-group-sm" asp-controller="Product" asp-action="Index" asp-area="Admin" method="get">
                <input type="hidden" name="PageNumber" value="@ViewBag.PageNumber" />
                <input type="hidden" name="PageSize" value="@ViewBag.PageSize" />
                <input type="text" name="SearchName" class="form-control" placeholder="Arama yap..." value="@ViewBag.SearchName">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i> <!-- Arama ikonu, Font Awesome kullanılarak sağlanmıştır -->
                    </button>
                </div>
            </form>
        </div>

        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @ViewBag.PageSize
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="@Url.Action("Index", "Product", new { area = "Admin", pageSize = 5,  PageNumber = ViewBag.PageNumber, SearchName= ViewBag.SearchName })">5</a>
                <a class="dropdown-item" href="@Url.Action("Index", "Product", new { area = "Admin", pageSize = 10,  PageNumber = ViewBag.PageNumber, SearchName= ViewBag.SearchName })">10</a>
                <a class="dropdown-item" href="@Url.Action("Index", "Product", new { area = "Admin", pageSize = 25,  PageNumber = ViewBag.PageNumber, SearchName= ViewBag.SearchName })">25</a>
                <a class="dropdown-item" href="@Url.Action("Index", "Product", new { area = "Admin", pageSize = 50,  PageNumber = ViewBag.PageNumber, SearchName= ViewBag.SearchName })">50</a>
                <a class="dropdown-item" href="@Url.Action("Index", "Product", new { area = "Admin", pageSize = 100,  PageNumber = ViewBag.PageNumber, SearchName= ViewBag.SearchName })">100</a>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Resim</th>
                        <th>Ad</th>
                        <th>Fiyat</th>
                        <th>İndirim.Fiy</th>
                        <th>Tipi</th>
                        <th>AnaBarcode</th>
                        <th>Stok</th>
                        <th>Detaylar</th>
                        <th>Sil</th>
                        <th>Kategori</th>
                        <th>Resim</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td class="offer-img">
                                <img src="@(item.ImageUrl ?? "/web/images/resimhazirlaniyor.png")" style="object-fit:cover;width: 80px; height:80px" />
                                @if (item.DiscountedPrice != null)
                                {
                                    <div class="offer mr-3"><p><span style="font-size:9px">İndirimde</span></p></div>
                                }
                            </td>
                            <td>@(item.ProductName.Length > 20 ? item.ProductName.Substring(0, 20) : item.ProductName)</td>
                            <td>@item.Price</td>
                            <td>@item.DiscountedPrice</td>
                            <td>@item.ProductType.Birim</td>
                            <td>@item.AnaBarcode</td>
                            <td>@item.Stock</td>
                            <td><a href="/Admin/Product/UpdateProduct/@item.ID" class="btn btn-warning">Detaylar</a></td>
                            <td><a href="/Admin/Product/DeleteProduct/@item.ID" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz! Sipariş detay ve ilişkili olduğu tablolardaki verilerde silinir!');">Sil</a></td>
                            <td><button data-toggle="modal" data-target="#assignCategoryModal" class="btn btn-success" onclick="openCategoryModal('@item.ID')">K.Ata</button></td>
                            <td><button data-toggle="modal" data-target="#productImageModal" class="btn btn-info" onclick="openImageModal('@item.ID')" >R.Değiştir</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between mt-2 row">
            <a href="/Admin/Product/AddProduct/" class="btn btn-primary">Yeni Ürün Ekle</a>
            <!-- pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm mt-2">
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Product", new { area = "Admin", pageSize = 5,  PageNumber = 1, SearchName= ViewBag.SearchName })">«</a></li>
                    @for (int i = 1; i < 6; i++)
                    {
                        int page = 0;
                        if (ViewBag.PageNumber - 4 < 0)
                        {
                            page = i;
                        }
                        else if (ViewBag.PageNumber + 5 > ViewBag.TotalPages && ViewBag.TotalPages - 5 > 0)
                        {
                            page = ViewBag.TotalPages - 5 + i;
                        }
                        else
                        {
                            page = ViewBag.PageNumber - 3 + i;
                        }

                        string pageStr = page.ToString();

                        if (page == ViewBag.PageNumber)
                        {
                            <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "Product", new { area = "Admin", pageSize = ViewBag.PageSize,  PageNumber = pageStr, SearchName= ViewBag.SearchName })">@pageStr</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Product", new { area = "Admin", pageSize = ViewBag.PageSize,  PageNumber = pageStr, SearchName= ViewBag.SearchName })">@pageStr</a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Product", new { area = "Admin", pageSize = 5,  PageNumber = ViewBag.TotalPages, SearchName= ViewBag.SearchName })">»</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>


<!-- Assign Category Modal -->
<div class="modal" id="assignCategoryModal" tabindex="-1" role="dialog" aria-labelledby="assignCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document" style="width:90%;" id="assignCategoryModalContainer">

    </div>
</div>

<!-- Updateing Product Modal -->
<div class="modal" id="productImageModal" tabindex="-1" role="dialog" aria-labelledby="productImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document" style="width:90%;" id="productImageModalContainer">

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function openCategoryModal(id) {
        $.ajax({
            url: '/Admin/Product/AssignCategoryForProductList/' + id,
            type: 'GET',
            success: function (data) {
                $('#assignCategoryModalContainer').html(data);
            },
            error: function (err) {
            }
        });
    }

    function openImageModal(id) {
        $.ajax({
            url: '/Admin/Product/changeImageProduct/' + id,
            type: 'GET',
            success: function (data) {
                $('#productImageModalContainer').html(data);
            },
            error: function (err) {
            }
        });
    }

    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('imagePreview');
            output.innerHTML = '<img src="' + reader.result + '" width="40%" />';
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>