@model List<ResultSliderVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
    int count = 0;
}

<div>
    <div id="myCarousel" class="carousel slide mb-2" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                <div class="carousel-item @(item == Model[0] ? "active" : "")">
                    <img src="@item.ImageUrl" class="img-fluid" style="height:auto;width:100%;object-fit:contain;">
                    <div class="carousel-caption">
                        @*<p class="text-dark">@item.Description</p>*@
                    </div>
                    <div class="mt-2" style="position:absolute; bottom:0; z-index:15">
                        <a href="/Admin/Slider/DeleteSlider/@item.ID" class="carousel-control btn btn-danger btn-sm">Sil</a>
                        @*<a href="/Admin/Slider/SliderDetails/@item.ID" class="carousel-control btn btn-warning btn-sm">Detay</a>*@
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators mt-2" style="left:0; bottom:0; position:static; display:flex;">
            @foreach (var item in Model)
            {
                <li data-target="#myCarousel" data-slide-to="@count" class="@(item == Model[0] ? "active" : "")"></li>
                count++;
            }
        </ol>
    </div>
    <a href="/Admin/Slider/AddSlider/" class="carousel-control btn btn-primary">Yeni Ekle</a>
</div>

