@model List<ResultProductVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("_SliderPartial")


<!--content-->
<div class="product container">

    <!-- Product -->
    <div class="spec ">
        <h3>Ürünler</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>

        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                @await Component.InvokeAsync("_ProductSidebarPartial")
            </div>


            <div class="col-md-9">
                <div class=" con-w3l agileinf">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 pro-1">
                            <div class="col-m">
                                <a href="" data-toggle="modal" data-target="#myModal_@item.ID" class="offer-img">
                                    <img src="@item.ImageUrl" class="img-responsive" alt="">
                                </a>
                                <div class="mid-1">
                                    <div class="women">
                                        <h6>@(item.ProductName.Length > 20 ? item.ProductName.Substring(0, 13) : item.ProductName)</h6>
                                    </div>
                                    <div class="mid-2">
                                        <p><label>&#8378;@item.Price</label><em class="item_price">&#8378;@item?.DiscountedPrice</em></p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="add add-2">
                                        <button class="btn btn-danger my-cart-btn my-cart-b" data-id="@item?.ID" data-name="@item?.ProductName" data-summary="summary 1" data-price="@item?.DiscountedPrice" data-quantity="1" data-image="images/of16.png">Sepete Ekle</button>
                                        @*<a class="btn btn-danger my-cart-btn my-cart-b" href="/Basket/AddBasketItem/@item?.ID" >Sepete Ekle</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- pagination -->
<nav class="text-center">
    <ul class="pagination pagination-lg">
        <li><a href="?PageNumber=1" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        @for (int i = 1; i < 6; i++)
        {
            int page = 0;
            if (ViewBag.PageNumber - 4 < 0)
            {
                page = i;
            }
            else if (ViewBag.PageNumber + 5 > ViewBag.TotalPages && ViewBag.TotalPages - 5 > 0)
            {
                page = ViewBag.TotalPages - 5 + i;
            }
            else
            {
                page = ViewBag.PageNumber - 3 + i;
            }

            string pageStr = page.ToString();

            if (page == ViewBag.PageNumber)
            {
                <li class="active"><a href="?PageNumber=@pageStr">@pageStr</a></li>
            }
            else
            {
                <li><a href="?PageNumber=@pageStr">@pageStr</a></li>
            }
        }
        <li><a href="?PageNumber=@ViewBag.TotalPages" aria-label="Next"><span aria-hidden="true">»</span></a></li>
    </ul>
</nav>



<div>
    <!-- product -->
    @foreach (var item in Model)
    {
        <div class="modal fade" id="myModal_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_@item.ID">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body modal-spa">
                        <div class="col-md-5 span-2">
                            <div class="item">
                                <img src="@item.ImageUrl" class="img-responsive" alt=""> <!-- Görsel yolunu güncelleyin -->
                            </div>
                        </div>
                        <div class="col-md-7 span-1 ">
                            <h3>@item.ProductName</h3> <!-- Ürün ismi ve ağırlığı -->
                            <p class="in-para">@item.Description</p> <!-- Ürün açıklaması -->
                            <div class="price_single">
                                <span class="reducedfrom"><del>&#8378;@item.Price</del> &#8378;@item.DiscountedPrice</span> <!-- Normal ve indirimli fiyat -->
                                <div class="clearfix"></div>
                            </div>
                            <h4 class="quick">Detaylar:</h4>
                            <p class="quick_desc">@item.Title</p> <!-- Hızlı genel bakış -->
                            <div class="add-to">
                            <button class="btn btn-danger my-cart-btn my-cart-btn1" data-id="@item.ID" data-name="@item.ProductName" data-summary="summary 1" data-price="@item.DiscountedPrice" data-quantity="1" data-image="@item.ImageUrl">Sepete Ekle</button>
                            @*<a class="btn btn-danger my-cart-btn my-cart-btn1" href="/Basket/AddBasketItem/@item?.ID">Sepete Ekle</a>*@
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

