@model OkyanusWebUI.Controllers.ProductListResponse
@inject OkyanusWebUI.Service.TokenService _tokenService;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@await Component.InvokeAsync("_SliderPartial")*@


<!--content-->
<div class="container-fluid">
    <!-- Product -->
    <div class="spec ">
        <h3>Ürünler</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
        <br /><br />



        <div class="row" style="margin-left:1px">
            <!-- Sidebar -->
            <div class="col-md-3" style="border: 1px solid #B2B2B2;" id="dynamicCategoryCompContainer">

                @await Component.InvokeAsync("_ProductSidebarPartial", new { categoryName = ViewBag.CategoryName })

            </div>
            <!-- Product List -->
            @if (Model != null && Model.Product.Count > 0)
            {
                <div id="productList" class="col-md-9">
                    <div class=" con-w3l agileinf" id="productsContainer" style="margin-top:0px;padding-top:0px">
                        @foreach (var item in Model.Product)
                        {
                            <div class="col-md-3 pro-1">
                                <div class="col-m">
                                    <a style="cursor:pointer" onclick="openProductDetailModal('@item.ID')" data-toggle="modal" data-target="#productDetailModal" class="offer-img">
                                        <img src="@(!string.IsNullOrEmpty(item.ImageUrl) ? item.ImageUrl : "/web/images/resimhazirlaniyor.png")" class="img-responsive" style="height: 175px; width:175px; object-fit: cover;">
                                        @if (item.DiscountedPrice != null)
                                        {
                                            <div class="offer">
                                                <p><span>İndirimde</span></p>
                                            </div>
                                        }
                                    </a>
                                    <div class="mid-1">
                                        <div class="women">
                                            <h6>@item.ProductName</h6>
                                        </div>
                                        <div class="mid-2">
                                            @if (item.DiscountedPrice != null)
                                            {
                                                <p><label>₺@item.Price</label><em class="item_price">₺@item.DiscountedPrice</em></p>
                                            }
                                            else
                                            {
                                                <p><em class="item_price">₺@item.Price</em></p>
                                            }
                                            <div class="block">
                                                @if (_tokenService.IsAuthonticate())
                                                {
                                                    <i class="fa fa-heart likebutton" onclick="addFavoriteProduct('@item.ID')" toggle="tooltip" title="Favoriye Ekle"> </i>
                                                }
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="add add-2">
                                            <button class="btn btn-danger my-cart-btn my-cart-b" onclick="addBasket('@item.ID')">Sepete Ekle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
            else
            {
                <h5>Ürünler Hazırlanıyor</h5>
            }
        </div>
    </div>
</div>

<!-- pagination -->
<nav class="text-center" id="paginationContainer">
    <ul class="pagination pagination-lg">
        <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Product", new { PageNumber = 1, SearchName= ViewBag.SearchName, CategoryName = ViewBag.CategoryName, sortField = ViewBag.sortField, MarkaAdi = ViewBag.MarkaAdi })">«</a></li>
        @for (int i = 1; i < 6; i++)
        {
            int page = 0;
            if (ViewBag.PageNumber - 4 < 0)
            {
                page = i;
            }
            else if (ViewBag.PageNumber + 5 > Model.TotalPages && ViewBag.TotalPages - 5 > 0)
            {
                page = ViewBag.TotalPages - 5 + i;
            }
            else
            {
                page = ViewBag.PageNumber - 3 + i;
            }

            string pageStr = page.ToString();

            if (page == ViewBag.PageNumber)
            {
                <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "Product", new { PageNumber = pageStr, SearchName= ViewBag.SearchName, CategoryName = ViewBag.CategoryName, sortField = ViewBag.sortField, MarkaAdi = ViewBag.MarkaAdi })">@pageStr</a></li>

            }
            else
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Product", new { PageNumber = pageStr, SearchName= ViewBag.SearchName, CategoryName = ViewBag.CategoryName, sortField = ViewBag.sortField, MarkaAdi = ViewBag.MarkaAdi })">@pageStr</a></li>
            }
        }
        <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Product", new { PageNumber = Model.TotalPages, SearchName= ViewBag.SearchName, CategoryName = ViewBag.CategoryName, sortField = ViewBag.sortField, MarkaAdi = ViewBag.MarkaAdi })">»</a></li>
    </ul>
</nav>

<!-- İndirimli ÜRünler -->
@await Component.InvokeAsync("_DiscountProductPartial")
